<section class="profileContainer flexDown">
    <h1>My Profile</h1>
    <span>Full Name: {{::vm.misc.userData.fullName}}</span>
    <span>Email Address: {{::vm.misc.userData.emailAdd}}</span>
</section>
<hr>
<section class="bookingListContainer flexDown" ng-if="vm.misc.myBookingListFromFbaseIsNotEmpty">
    <h1>My Bookings</h1>
    <div class="card" ng-repeat="value in vm.misc.userData.myBookingListFromFbase | orderBy:'dayTime':true" ng-class="{'primary':value.status == 'went', 'success': value.status == 'going', 'alert': value.status == 'cancel'}">
        <div class="card-divider flowAcross">
            <span class="flexExpand">{{::value.dayTime | date: 'EEEE, MMMM d, y - hh:mm a'}}</span>
            <button ng-click="vm.cancelBooking(value.key)" ng-if="value.status == 'going'">Cancel Booking</button>
        </div>
        <div class="card-section flexDown">
            <div class="flowAcross">
                <span class="strongLbl">Status:</span>
                <span class="normalLbl" style="text-transform: capitalize;">{{::value.status}}</span>
            </div>
        </div>
    </div>
</section>
