<div class="rootContainer">
	<section class="flowAcross navBar">
	    <div class="flexExpand logoContainer">
	        <img src="http://logos.textgiraffe.com/logos/logo-name/Happy!-designstyle-happy-m.png" alt="Smiley face" height="42" width="42">
	    </div>
	    <div class="flowAcross flexShrink btnContainer">
	    	<button class="navBarBtn">
		        About Us
		    </button>
		    <button class="navBarBtn">
		        FAQ
		    </button>
		    <button class="navBarBtn" ng-if="vm.misc.isLoggedIn" ng-click="vm.goToPage('profile')">
		    	Go To Profile
		    </button>
		    <button class="navBarBtn" ng-if="vm.misc.isLoggedIn" ng-click="vm.goToPage('booking')">
		    	Book Stadium
		    </button>
		    <button class="navBarBtn" ng-if="vm.misc.isLoggedIn" ng-click="vm.signOut()">
		    	Sign Out
		    </button>
	    </div>
	</section>
	<section class="container" ui-view="body">
	</section>
</div>